* {
    font-family: 'KodeMono';
    user-select: none;
}

html {
    height: 100dvh;
    overflow: hidden;
}

body {
    height: 100dvh;
    filter: contrast(100%) brightness(100%);
    background: var(--bg-grad);
    color: var(--c-text);
}

button {
    padding: 1rem;
    cursor: pointer;
}